{% extends 'base.html.twig' %}

{% block title %}Bigflo & Oli - Accueil{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/index.css') }}">{% endblock %}

{% block body %}
    <div id="indexContainer">  
        <div id="mainContainer">
            <h1 class="text-center">Bigflo & Oli</h1>
            <div id="bigflo-oli">
                <img src="{{ asset('assets/images/bigflo-oli.png') }}" alt="Bigflo & Oli">
            </div>
        </div>
        <div id="textContainer">
            <p id="textGroup">
                Bigflo et Oli sont des rappeurs, mais des frères avant tout. Originaires de Toulouse, ils se lancent dans le rap à peine agés de 10 ans. Si leurs premiers clips postés sur Youtube ne sont pas des succès phénoménaux, ils leurs permettent d'exprimer leurs états d'âme d'adolescent tout en pratiquant leur passion, qui deviendra bientôt leur métier...
            </p>            
            <p id="textOli">
                Oli s'appelle en réalité Olivio. En plus d'être un chanteur de talent, il est l'écrivain principal des textes des chansons du duo. En effet, il commença a écrire dès ses 6 ans pour raconter de vraies histoires, "des conneries, des poèmes, des sketches" selon ses mots.
            </p>
            <p id="textBigflo">
                Bigflo, de son prénom Florian, joue du piano et de la batterie depuis l'âge de 13. Il s'investit aussi beaucoup dans ses textes, considérant que la musique est un outil permettant de faire passer des messages.
            </p>
        </div>
    </div>
{% endblock %}
