/* Articles */

#articlesContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.articleContainer{
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.articleContainer div{
    height: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid rgb(102, 101, 101);
    border-radius: 7px;
}

.articleContainer img{
    width: 100%;
}

.articleContainer h2{
    margin-bottom: 0;
}

@media (max-width: 764px) {

    .articleContainer{
        width: 250px;
        height: 350px;
    }

    #articlesContainer{
        justify-content: center;
    }

}

/* Article */

#articleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: auto;
}

#articleImgContainer{
    height: 55vh;
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
}

#articleImgContainer img{
    height: 100%;
}

#articleTextContainer{
    text-align: left;
    font-size: 1.2rem;
}

#noComment{
    font-size: 1.2rem;
}

#commentsContainer{
    display: flex;
    flex-direction: column;
}

#commentsContainer hr{
    background-color: #fff;
    width: 25%;
    margin-left: 0;
}

.commentContainer{
    display: flex;
}

.commentAvatar{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}

.commentAvatar img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.commentAvatar i{
    font-size: 3em;
}

.commentInfos{
    display: inline-block;
    padding: 10px;
}

.comment{
    margin: 0;
    font-size: 1.2rem;
}

#adminContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

@media (max-width: 764px) {

    #articleContainer{
        width: 90vw;
    }

}

@media (max-width: 1055px) {

    #articleContainer{
        width: 80vw;
    }

}

