input[type="file"] {
    display: none;
}

#avatarContainer{
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.hasBorder{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px white solid;
    border-radius: 100%;
}