<div id="navbar">

    <a href="{{ path('home') }}" class="navbar-item" id="{% if onPage == 'home'%}active{% endif %}">
        <h5>Accueil</h5>
    </a>
    <a href="#" class="navbar-item">
        <h5>Biographie</h5>
    </a>
    <a href="#" class="navbar-item">
        <h5>Réalisations</h5>
    </a>
    <a href="#" class="navbar-item">
        <h5>Mon compte</h5>
    </a>

</div>